@include respondTo('desktop') {
  .left-side-up {
    &__menu--desktop {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      a {
        margin-bottom: 15px;
        position: relative;
        text-decoration: none;
        transition: width 2s;
        &:after {
          content: '';
          position: absolute;
          width: 20px;
          height: 100%;
          border-bottom: 2px solid magenta;
          left: 0;
          transition: width 0.4s;
        }
        &:hover:after {
          width: 50px;
          transition: width 0.4s ease-in-out;
        }
      }
    }
    &__name {
      h3 {
        padding-top: 20px;
      }
    }
    &__position {
      padding-top: 15px;
    }
  }

  .left-side-up__menu--mobile {
    display: none;
  }
}

@include respondTo('smartphone') {
  .left-side-up__menu--desktop {
    display: none;
  }
  .left-side-up__menu--mobile {
    display: flex;
  }
}
